.api-get {
    color: var(--api-get);
}

.api-post {
    color: var(--api-post);
}

.api-patch {
    color: var(--api-patch);
}

.api-put {
    color: var(--api-put);
}

.api-delete {
    color: var(--api-delete);
}

.api-hello {
    color: var(--api-delete);
}

.api-scan {
    color: var(--api-patch);
}

.api-project {
    color: var(--api-post);
}

.api-protect {
    color: var(--api-get);
}

