@import 'themes/light.css';
@import 'themes/dark.css';

@import 'components/form.css';
@import 'components/section.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--text-color);
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
